footer
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, rerum.
    .icon-wrapper
        each icon in ['telegram', 'instagram', 'github', 'linkedin', 'youtube']
            img(src=`task2_content/footer-images/${icon}.svg`, alt="" class="social-icon")