section.gallery
    - const images = ["img.png", "img_1.png","img_2.png","img_2.png","img.png","img_1.png","img_1.png","img_2.png","img.png"]

    each image in images
        img(src=`icons/${image}`, alt="photo")
