section.information-block
    p.info-block-title Some text
    p Some text lorem ipsum, does not make a sense
    ul.info-list
        li.info-item
            img(src="icons/img_3.png", alt="photo")
            p.info-item-title Some
            p Some text lorem ipsum, does not make a sense
        li.info-item
            img(src="icons/img_4.png", alt="photo")
            p.info-item-title Some
            p Some text lorem ipsum, does not make a sense
        li.info-item
            img(src="icons/img_5.png", alt="photo")
            p.info-item-title Some
            p Some text lorem ipsum, does not make a sense
        li.info-item
            img(src="icons/img_6.png", alt="photo")
            p.info-item-title Some
            p Some text lorem ipsum, does not make a sense
