div.main-content
    section.top-gallery-block
        p Something
        a.gallery-button FILTER PORTFOLIO

    include gallery
    include contact-block
    include information-block
    include journal-content
