doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Wow
        link(rel="stylesheet", href="blocks-style.css")
    body
        include header
        include nav
        include article
        include aside
        include footer
