*{
    text-align: center;
    font-family: Josefin Sans, serif;
}

h1{
    color: red;
}

h2 {
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.marked{
    background: yellow;
}

ul{
    list-style-type: none;
}

hr{
    width: 70%;
    color: green;
    height: 5px;
    background: green;
}

.u{
    text-decoration: underline;
}

#up{
    vertical-align: super;
}

#down{
    vertical-align: sub;
}

.line{
    text-decoration: line-through;
}

footer p {
    font-style: italic;
}
