*{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: red;
}
h2 i {
    font-style: italic;
}
p {
    font-family: 'MS Outlook', sans-serif; /* Якщо необхідно змінити шрифт */
}
b {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

sup {
    font-size: 0.8em; /* Корекція розміру верхнього індексу */
}

sub {
    font-size: 0.8em; /* Корекція розміру нижнього індексу */
}

mark {
    background-color: yellow; /* Виділення тексту */
}

hr {
    width: 70%;
    border: none;
    height: 5px;
    background-color: green;
}

.note {
    font-style: italic;
    line-height: 1.5;
}