$primary-font: "Arial", sans-serif;
$primary-color: rgb(68, 223, 250);
$header-bg: rgba(255, 255, 255, 0.8);
$footer-bg: #1e1e1e;
$catalog-item-width: 30%;
$works-item-width: 23%;
$journal-item-width: 45%;
$catalog-item-mobile: 45%;
$works-item-mobile: 45%;
$journal-item-mobile: 90%;
$catalog-item-mobile-small: 90%;
$works-item-mobile-small: 90%;