.slogan-wrapper(style="background-color: #FFD369; box-shadow: inset 3px 2px 10px black;")
    .slogan-box
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta ducimus, enim et possimus quibusdam!