.work-examples-box
    .work-head
        h2.box-name Our awesome works
        button.body-button Filter portfolio
            .gallery-wrapper
                each img in ['img1.png', 'img2.png', 'img3.png', 'img4.png', 'img5.png', 'img6.png', 'img7.png', 'img8.png', 'img9.png']
                    img(src=`task2_content/work-images/${img}`, alt="" class="gallery-photo")
