* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, serif;
    color: white;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    background-color: #232222;
    display: block;
    font-weight: 700;
    padding: 5px;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navigation ul li:first-child {
    margin-right: 700px;
}


.navigation img {
    width: 35px;
    height: 35px;
}

.navigation-button {
    display: block;
    padding: 7px;
    width: 50px;
    height: 50px;
    font-weight: 700;
    margin: 0 5px;
}

.navigation-button:focus {
    border-radius: 10px;
    border: 2px solid white;
}

.searching-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    background-color: white;
    border-radius: 12px;
}

.searching-block a {
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    margin: 0;
    background-color: #595959;
}

.searching-block a:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.searching-block a:focus {
    border: 2px solid #1aff00;
}

.searching-block a:last-child:focus {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #1aff00;
}

.searching-block a:hover {
    background-color: gray;
}

.searching-block input {
    color: black;
    padding: 10px;
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 0 5px 0 5px;
}

.searching-block input:hover {
    /*border: none;*/
    opacity: 80%;
}

.navigation .navigation-button:hover {
    background-color: #424242;
    border-radius: 10px;
}

.core {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 0 0;
}

.panel {
    list-style: none;
    background-image: linear-gradient(45deg, transparent 20%, #5c5c5c 50%, transparent 50%, black 30%, transparent 100%),
    linear-gradient(-45deg, black 50%, #5c5c5c 50%);
    background-position: center;
    background-repeat: repeat;
    background-size: 80px 80px;
    width: 275px;
    height: 100%;
    display: block;
    padding: 10px;

}

.panel > ul {
    margin-top: 50px;
    list-style: none;
    position: sticky;
    top: 75px;
}

.panel li {
    display: block;
    width: 100%;
    height: 70px;
    padding: 10px 0;
}

.panel a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 100%;
    font-weight: 700;
    border-radius: 20px;
    background-color: #232222;
}

.panel a:focus {
    text-decoration: none;
    border: 2px solid white;
}


.panel img {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.panel a:hover {
    background-color: gray;
    text-decoration: none;
}

.center-content {
    padding: 25px 25px;
    width: 100%;
    background-color: #d7dfdc;
    height: 100%;
    margin: 0;
    color: black;
}


.hidden-block {
    margin-top: 50px;
}

.hidden-block li {
    margin-top: 0;
}

.hidden-block {
    list-style: none;
    display: none;
    position: absolute;
    left: 200px;
    top: 90px;
}

.hidden-block-second {
    display: none;
    list-style: none;
    position: absolute;
    left: 200px;
    top: 70px;
}

.hidden-block:hover {
    display: block;
}

.shopping-button:hover ~ .hidden-block {
    display: block;
}

.check-button:hover ~ .hidden-block-second {
    display: block;
}

.hidden-block-second:hover {
    display: block;
}

.history-hidden-block {
    padding-top: 10px;
}

.history-hidden-block li {
    margin-top: 0;
}

.history-hidden-block {
    margin-left: 25px;
    list-style: none;
    display: none;
    /*position: relative;*/
}
.history-hidden-block a{
    margin-left: 10px;
    width: 175px;

}
.history:hover ~ .shopping{
    margin-top: 140px;
}

.history-hidden-block-second {
    margin: 0;
    display: none;
    list-style: none;
    position: absolute;
    left: 200px;
    top: 280px;
}

.history-block:hover {
    display: block;
}

.history-button:hover ~ .history-hidden-block {
    display: block;
}

.history-hidden-block:hover {
    display: block;
}

.some-button:hover ~ .history-hidden-block-second {
    display: block;
}

.history-hidden-block-second:hover {
    display: block;
}

.history-button:hover ~ .hidden-block {
    display: block;
}