doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Title
        link(rel="stylesheet", href="style2.css")
    body
        include header

        main
            section.head-text
                h2 Something - some text
                p I don`t know what to enter here

            include sections/main-content

        include footer
