include card
mixin cardsContainer()
    .cards-container
        +card('images/img_11.png', 'Something', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
        +card('images/img_9.png', 'Something', 'Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.')
        +card('images/img_12.png', 'Something', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
        +card('images/img_6.png', 'Something', 'Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.')
        +card('images/img_10.png', 'Something', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.')
        +card('images/img_7.png', 'Something', 'Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.')

+cardsContainer()
