doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Cards
        link(rel="stylesheet", href="cards-style.css")
    body
        .wrapper
            main
                include cards-conteiner
