include gallery-item

mixin gallery()
    main.gallery
        +galleryItem('images/img.png', 'Image 1', false)
        +galleryItem('images/img_1.png', 'Image 2', false)
        +galleryItem('images/img_2.png', 'Image 3', false)
        +galleryItem('images/img_3.png', 'Image 4', false)
        +galleryItem('images/img_4.png', 'Image 5', false)
        +galleryItem('images/img_5.png', 'Image 6', true)
        +galleryItem('images/img_6.png', 'Image 7', false)
        +galleryItem('images/img_7.png', 'Image 8', false)
        +galleryItem('images/img_8.png', 'Image 9', false)
        +galleryItem('images/img_9.png', 'Image 10', false)
        +galleryItem('images/img_10.png', 'Image 11', false)
        +galleryItem('images/img_11.png', 'Image 12', true)
