doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Gallery
        link(rel="stylesheet", href="gallery-style.css")
    body
        .wrapper
            include gallery
            +gallery()
